.x
{
  margin: 10px;
  background-color: white;
  font-family: Righteous, cursive;
}
.y
{
  size:"8";
  width:100%;
  background-color: grey;

}
.lg
{
  height: 55px;
  width: 65px;
  border-radius: 100px;
}
.foot
{
  margin-top:50px;
  height: 50px;
  width: 100%;
  background-color:#E8DAEF ;
}
.eridicate
{
  font-family: Abril Fatface;
}
.te
{
  font-family: Abril Fatface;
}
.z
{
  font-family: Abril Fatface;
}
.bit
{
  font-family: Abril Fatface;
  color: white;
}
.fg
{
  font-family: Lobster,cursive;
}
